html
    head
        include head.pug
        title index

    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16.w-full
                    script.
                        let message = "#{status}";
                        let additions = "/#{route.id}/#{selected}";
                    script(src="/scripts/swal.js")

                    h1.text-4xl.font-bold.mb-5 Bezienswaardigheid informatie toevoegen - 3

                    .flex.gap-2
                        .max-h-screen.overflow-y-auto.scroll-clr(class="w-1/4")
                            //- Display all the markers from the geojson on the screen
                            each feature, index in route.route.features
                                if feature.geometry.type === "Point"
                                    a.block.clr-border-sec.clr-bg-main.clr-border-sec.border-4.w-full.mb-1.text-center(class=`h-[3rem] ${selected == index ? 'selected' : ''}` href=`/route-poi-editor/${route.id}/${index}`) 
                                        | !{feature.properties.name}

                        .max-h-screen.clr-border-sec.border-4.p-5(class="w-3/4")
                            //- Choose between poi type and display the form accordingly
                            label(for="poitype").font-bold Kies een type punt
                            select(name="poitype" id="poitype").block.p-1
                                option(value="POI") Bezienswaardigheid
                                option(value="NODE") Knooppunt
                                option(value="INFO") Informatiepunt
                                option(value="CAFE") Horecagelegenheid
                                option(value="INVIS") Onzichtbaar punt
                            //- Form for the poi
                            form(action=`/form/addpoi` enctype="multipart/form-data" method="post" id="pointForm")
                                input(type="hidden" name="selected" value=`${selected}` required)
                                input(type="hidden" name="lat" value=`${route.route.features[selected].geometry.coordinates[1]}` required)
                                input(type="hidden" name="lon" value=`${route.route.features[selected].geometry.coordinates[0]}` required)
                                input(type="hidden" name="routeid" value=`${route.id}` required)
                                input(type="hidden" name="type" id="poitypefield" required)

                                label.font-bold Naam
                                    input(type="text" name="name" placeholder="Naam..." value=`${route.route.features[selected].properties.name}` required).block.p-1.font-normal.w-full

                                label.font-bold Beschrijving
                                    textarea(name="desc" placeholder="Beschrijving..." class="min-h-[6rem]" required).block.p-1.font-normal.w-full

                                label.font-bold Audio bestand
                                    input(type="file" name="audio_src" accept="audio/*").block.p-1.font-normal.w-full

                                label.font-bold Afbeeldingen
                                    input(type="file" name="img_src" accept="image/png, image/jpg, image/jpeg, image/bmp, image/gif, image/webp" multiple required).block.p-1.font-normal.w-full

                                label.font-bold Radius
                                    input(type="number" min=0 placeholder="Nummer..." name="radius" required).block.p-1.font-normal.w-full

                                input.btn.mt-4(type="submit" value="Voeg punt toe")
                            //- Form for the node
                            form(action=`/form/addnode` method="post" id="nodeForm" hidden)
                                input(type="hidden" name="selected" value=`${selected}` required)
                                input(type="hidden" name="lat" value=`${route.route.features[selected].geometry.coordinates[1]}` required)
                                input(type="hidden" name="lon" value=`${route.route.features[selected].geometry.coordinates[0]}` required)
                                input(type="hidden" name="routeid" value=`${route.id}` required)

                                label.font-bold Kies GPX bestand
                                    input(type="number" min=0 name="nodenr" placeholder="Knooppunt nr..." required).block

                                input.btn.mt-4(type="submit" value="Voeg knooppunt toe")

                            script(src="/scripts/changePoiNode.js")

                            //-     label.font-bold(for="gpxfileupload") Kies GPX bestand
                            //-         span.clr-text-red  *
                            //-     input.block.mb-6#gpxfileupload(type="file" name="gpxfileupload" accept=".gpx")

                            //-     fieldset.mb-4
                            //-         legend.font-bold Route type
                            //-             span.clr-text-red  *
                            //-         label.block
                            //-             input(type="radio" name="routetype" value="walk" checked required)
                            //-             | Wandelroute
                            //-         label.block
                            //-             input(type="radio" name="routetype" value="bike" required)
                            //-             | Fietsroute

                            //-     fieldset.mb-4
                            //-         legend.font-bold Rolstoeltoegankelijk
                            //-             span.clr-text-red  *
                            //-         label.block
                            //-             input(type="radio" name="wheelchair" value="yes" required)
                            //-             | Ja
                            //-         label.block
                            //-             input(type="radio" name="wheelchair" value="no" checked required)
                            //-             | Nee

                            //-     label.font-bold.block(for="name") Route naam
                            //-         span.clr-text-red  *
                            //-     input.py-2.px-4.mb-4.w-full#name(type="text" name="name" placeholder="Route naam..." required)

                            //-     label.font-bold.block(for="desc") Beschrijving
                            //-         span.clr-text-red  *
                            //-     textarea.py-2.px-4.mb-4.w-full.resize-none#desc(type="text" name="description" placeholder="Description..." rows="6" required)

                            //-     label.font-bold.block(for="extra") Toevoeging
                            //-     input.py-2.px-4.mb-4.w-full#extra(type="text" name="extra" placeholder="Toevoeging...")

                            //-     p.clr-text-red.text-sm.mb-4 * verplichte velden

                            //-     input.btn.mt-4(type="submit" value="Voeg route toe")

                .line
