html
    head
        include head.pug
        title Routes

    body.h-full.clr-bg-main(class='border-[20px] clr-border-sec')
        include header.pug
        block content
            .w-full.flex.flex-col.py-12.px-8.overflow-y-auto(class='h-[calc(100%-4rem)] md:px-32')
                .px-16.flex.relative.w-full
                    script.
                        let message = "#{status}";
                        let additions = "#{additions}";
                    script(src="/scripts/swal.js")
                    
                    h1.text-4xl.font-bold.mb-5.w-full Routes
                    
                    a.btn.absolute.right-16.top-0(href='/route-editor') Voeg route toe
                .line

                .px-16.flex.flex-col.w-full
                    each route in routes
                        .flex.flex-row.self-center.w-full
                            .w-full
                                .p-1
                                    p.text-2xl #{route.name}
                                .my-4.clr-acc-red(class="w-[10%] h-[3px]")
                                .p-1
                                    p.text-ellipsis.block.overflow-hidden(class="max-h-[6em]") #{route.description}
                            flex.justify-center.flex-col(class="basis-1/6")
                                .my-2.text-center
                                    a.btn.w-40.block(href='') Bewerken
                                .my-2.text-center
                                    a.btn.w-40.block.btn-delete(href=`/route-selection/confirm_delete_route/${route.id}`) Verwijderen                                        
                        .line
                .line
                
